# .env
TZ=America/Denver

# Pi-hole
PIHOLE_IMAGE=pihole/pihole
PIHOLE_TAG=2025.06.2
PIHOLE_HOSTNAME=pihole
WEBPASSWORD=yourStrongPasswordHere
PIHOLE_DNS_SERVER="127.0.0.1#5335"

# Unbound
UNBOUND_IMAGE=mvance/unbound
UNBOUND_TAG=latest

# Prometheus exporter
EXPORTER_IMAGE=ekofr/pihole-exporter
EXPORTER_TAG=latest
EXPORTER_PORT=9617
